extends layout

block title
	title Wakefulness Institute :: Contemplative Social Events for Growth and Connection

block content
	.spread.center.pad
		.center-wrapper
			.block
				img.splash-title(src='/images/logo-full-1000.png')
				p.splash-subtitle.text-center
					| Contemplative Social Events for Growth and Connection
					br
					| Coming 2015
