extends layout

block content
	.spread.center.pad
		.center-wrapper
			.block
				img.splash-title(src='/images/logo-full-1000.png')
				p.splash-subtitle.text-center
					| Transpersonal Growth:
					br
					| Cultivating the Self and Beyond
					br
					| 2015
