extends layout

//- blocks
block styles
	link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open Sans')

block title
	title Wakefulness Institute :: What Went Well Group

block content

	//- hero unit
	.hero.theme-pretty.center.spread-most
		.pad
			h1.title What 
				br.www-title-linebreak
				| Went Well
			h2.subtitle Google Hangout Group

	//- intro
	.theme-light
		.container-narrow.pad
			.vpad-md

				//- .center.wide.space-below-md: div
					img(src='/images/www/hangouts-green.png' width='100')

				p
					span.text-lead What Went Well
					| is a simple positive psychology exercise introduced in Martin Seligman's book, "Flourish". It is an evidence-based exercise proven to increase wellbeing. The exercise itself is simple: "Write down three things that went well today and why they went well." You can do the exercise on your own, but we've experienced the most profound effects by performing the exercise in a supportive, collaborative group. 

				p Through Google Hangouts, we can make this possible to anyone. We are creating this online support group to share this amazing exercise with those who wish to commit to this practice and get the support they need to make it a successful part of their lives.

	//- facilitators
	.theme-dark
		.container-narrow.pad
			.vpad-md

				.center.wide
					h1 Learn about the facilitators

				.row.space-above-md

					.col-sm-6
						.center.wide: div
							img.img-circle(src='/images/www/raine.jpg')
							h2.text-caption Raine Lourie
						p.text-sm.vspace Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum veniam delectus maxime rerum, reprehenderit, aperiam blanditiis, qui inventore odit recusandae sit autem consequuntur, at quibusdam quasi error sunt expedita.

					.col-sm-6
						.visible-xs: .space-above-lg
						.center.wide: div
							img.img-circle(src='/images/www/catia.png')
							h2.text-caption Catia Chien
						p.text-sm.vspace Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum veniam delectus maxime rerum, reprehenderit, aperiam blanditiis, qui inventore odit recusandae sit autem consequuntur, at quibusdam quasi error sunt expedita.

	//- quote
	.theme-nature1
		.container-narrow.pad
			.vpad-lg
				.quote
					q A pessimist sees the difficulty in every opportunity; an optimist sees the opportunity in every difficulty.
					br
					| -Winston Churchill

	//- details
	.theme-light
		.container-narrow.pad
			.vpad

				h1 How does the group work?
				p We will meet via Google Hangout video chat once a week for one month. All you need is a webcam and a Google+/gmail account. Hangouts are 45 minutes long. The video chat is the heart of the practice, where each person shares 2 What Went Wells for the day. The video format gives everyone a chance to be out in the open and create an intimate environment even if we are thousands of miles away! The facilitators ensure a safe space in which nobody is pressured to share anything other than what they are inspired to share.

				p Each day you will be asked to post one What Went Well to a private Google Group. This can be as much or as little as you’d like. It is a small commitment that keeps the practice alive between weekly video chats, and helps you get the most out of the 30 day program.

	//- format & dates
	.theme-pale
		.container-narrow.vpad-md
			.row
				.col-md-6
					.center.wide.space-below: div
						img(src='/images/www/icon-hangouts-gray.png' height='100')
						h2.text-caption Format
					ul.list-wide
						li Weekly video chat
							.text-sm 45 minutes long
						li Daily online post
							.text-sm Brief WWW for the day
				.col-md-6
					.visible-xs: .space-above-lg
					.center.wide.space-below: div
						img(src='/images/www/icon-calendar.png' height='100')
						h2.text-caption Dates
					ul.list-wide
						li Begins the 3rd week of August 
							.text-sm Day-of-the-week to be determined
						li 30 days total

	//- price
	.theme-light
		.pad
			.container-narrow.vpad-md

				h1 Price
				p Choose the level of contribution that is most appropriate for you:

				.vspace-md
					.row
						.col-md-4
							h3 Level II: $50
							p.text-sm A Level II contribution includes the base cost which covers the preparation and work put in by the facilitators, and goes beyond to help someone who has a financial need to participate.
						.col-md-4
							h3 Level I: $35
							p.text-sm A Level I contribution is the base cost which covers the preparation and work put in by the facilitators.
						.col-md-4
							h3 Scholarship: $0-34
							p.text-sm Scholarships will be awarded upon request, no questions asked. Contribute what you can. Don’t let financial need prevent you from participating in this beneficial practice!

					button.btn.btn-block.btn-lg.btn-primary.vspace-md Register

	//- footer
	.theme-dark.text-sm
		.container
			.vpad-md
				.row

					.col-md-3
						p Brought to you by the 
							br
							a.text-yellow(href='/') Wakefulness Institute

					.col-md-6
						.hidden-md.hidden-lg: .space-above-md
						p Can't make it this time? 
							br.visible-xs
							| Get contacted about the next group:
						form
							.row
								.col-xs-8
									.form-group
										input.form-control(type='text' placeholder='Enter Your Email')
								.col-xs-4
									button.btn.btn-dark.btn-block Submit

					.col-md-3
						.hidden-md.hidden-lg: .space-above-md
						.right-sm
							h3 Contact
							ul.list-unstyled
								li: a(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
								li: a(href='mailto:raine@clarityofheart.com') catiachien@gmail.com
