extends layout

block styles
	link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Adamina')

block title
	title Wakefulness Institute :: What Went Well Group

block content
	.container-narrow.pad
		p
			span.lead-text What Went Well
			| is a simple positive psychology exercise introduced in Martin Seligman's book, "Flourish". It is an evidence-based exercise proven to increase wellbeing. The exercise itself is simple: "Write down three things that went well today and why they went well." You can do the exercise on your own, but we've experienced the most profound effects by performing the exercise in a supportive, collaborative group. 

		p Through Google Hangouts, we can make this possible to anyone. We are creating this online support group to share this amazing exercise with those who wish to commit to this practice and get the support they need to make it a successful part of their lives.

		p -Raine &amp; Catia

		h1 Objective
		p To offer What Went Well in an online environment providing an engaging and expertly facilitated space for those seeking to integrate this practice into their lives and increase their wellbeing.

		h1 How it works
		p We will meet on a regular basis online via Google Hangouts, where we can use video chat to create an engaging collaborative experience, in real-time, wherever you are in the world. Sessions will be facilitated by your hosts, Raine and Catia. All that is required is a plus.google.com account and a webcam.	

		h2 Facilitators
		img.img-circle(src='/images/www/raine.jpg')
		img.img-circle(src='/images/www/catia.png')
