extends layout

block styles
	link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Adamina')

block title
	title Wakefulness Institute :: What Went Well Group

block content
	.container-narrow.pad
		p
			span.lead-text What Went Well
			| is a simple positive psychology exercise introduced in Martin Seligman's book, "Flourish". It is an evidence-based exercise proven to increase wellbeing. The exercise itself is simple: "Write down three things that went well today and why they went well." You can do the exercise on your own, but we've experienced the most profound effects by performing the exercise in a supportive, collaborative group. 

		p Through Google Hangouts, we can make this possible to anyone. We are creating this online support group to share this amazing exercise with those who wish to commit to this practice and get the support they need to make it a successful part of their lives.

		p -Raine &amp; Catia

		p Categories:
		ul
			li positive psychology practice group
			li personal development group
			li depression support group
			li anxiety support group
