* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: #121212;
  background-color: #fff;
}
p {
  font-family: Adamina, Georgia, Serif;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 1.2em;
}
.lead-text {
  font-weight: normal;
  font-size: 1.35em;
  letter-spacing: 0.2px;
  margin-right: 9px;
}
.container-narrow {
  max-width: 800px;
  margin: 0 auto;
}
.spread {
  width: 100%;
  height: 100%;
}
.block {
  display: inline-block;
}
.center {
  display: table;
}
.center > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.pad {
  padding: 25px;
}
.splash-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .splash-title {
    margin-bottom: 30px;
  }
}
.splash-subtitle {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  color: #000;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0;
  line-height: 2em;
  font-size: 15px;
  line-height: 1.6em;
}
.text-dim {
  color: #b2b2b2;
}
